@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class^="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

#social-sidebar {
	left: 0;
	position: fixed;
	top: 43%;
	margin:0;
	z-index:3;
	list-style:none;
	padding:0;
}

#social-sidebar li:first-child a { border-top-right-radius: 0; }
#social-sidebar li:last-child a { border-bottom-right-radius: 0; }

#social-sidebar a {
	/*background:#454545;*/
	color: #fff;
	text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  	
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
	cursor: pointer;
	transition: width ease-in 0.15s;
}
#social-sidebar a:hover {
	width: 55px;  	
}

#social-sidebar a:hover span {
	left: 120%;
	opacity: 1;
}

#social-sidebar a span {
  font: 12px "Open Sans", sans-serif;
  text-transform: uppercase;
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	transition: opacity .3s, left .4s;
	top: 50%;
	z-index: -1;
}

#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
	width: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
}
.entypo-twitter {
	background: #00aced;
}
.entypo-facebook {
	background: #3B5998	
}
.entypo-print {
	background: #AEAEAE;
}
.entypo-mail {
	background: #E34429;	
}
.entypo-plus {
	background: #8DC5F2;	
}
#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {background: #00aced;}

#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {background: #3B5998;}

#social-sidebar a[class*="print"]:hover,
#social-sidebar a[class*="print"] span,
#social-sidebar a[class*="print"] span:before {background: #AEAEAE;}

#social-sidebar a[class*="mail"]:hover,
#social-sidebar a[class*="mail"] span,
#social-sidebar a[class*="mail"] span:before {background: #E34429;}

#social-sidebar a[class*="plus"]:hover,
#social-sidebar a[class*="plus"] span,
#social-sidebar a[class*="plus"] span:before {background: #8DC5F2;}

